.empty-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  ion-icon {
    font-size: 5rem;
    color: #ccc;
  }

  h2 {
    margin-top: 20px;
    font-weight: bold;
  }
}

.quantity-selector {
  display: flex;
  align-items: center;

  span {
    padding: 0 10px;
  }
}
