<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>إتمام الشراء</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>ملخص الطلب</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h3>{{ item.name }}</h3>
        <p>الكمية: {{ item.quantity }}</p>
      </ion-label>
      <ion-note slot="end">{{ item.price * item.quantity | currency:'IQD' }}</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label>الإجمالي</ion-label>
      <ion-note slot="end" color="primary">{{ total | currency:'IQD' }}</ion-note>
    </ion-item>
  </ion-list>

  <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">
    <ion-list>
      <ion-list-header>
        <ion-label>معلومات الشحن</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">الاسم الكامل</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">العنوان</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">المدينة</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">رقم الهاتف</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
    </ion-list>
    
    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="checkoutForm.invalid || isSubmitting">
        <ion-spinner *ngIf="isSubmitting"></ion-spinner>
        <span *ngIf="!isSubmitting">إتمام الطلب</span>
      </ion-button>
    </div>
  </form>
</ion-content>
